<%= form_with(model: meal) do |form| %>
  <% if meal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :price, style: "display: block" %>
        <%= form.number_field :price %>
      </div>

      <div>
        <%= form.label :image_url, style: "display: block" %>
        <%= form.text_field :image_url %>
      </div>   
    </div>
    <div class="col">
      <h3>Productos en el combo:</h3>
      <select name="meal[products_ids]" multiple="multiple">
        <% @products.each do |pr| %>
          <option value="<%= pr.id %>">
            <%= pr.name %> - $<%= pr.price %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
